/** @format */

body {
	background-image: url("tech-icons.png");
	background-size: 250px 250px;
}

.top {
	background-color: #84dbff;
	opacity: 0.7;
	border-color: black;
	border-style: double;
	border-width: 3px;
}

.quiz-box {
	background-color: #f8a186;
	opacity: 0.9;
	border-color: black;
	border-style: double;
	border-width: 3px;
}



.quiz-box {
	position: relative;
	height: 300px;
	margin-top: 40px;
}



